.homeSections img{
    width: 100vw;
}

.descriptionHome{
    text-decoration: none;
    margin-bottom: 3em;
}
.homeLogo{
    margin-left: 50%;
}
.blueStrip{
    background-color: #3dc4fc;
    height: 7em;
    margin: 3px;
}